/*
This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.
*/

.doto-link-outer {
    padding: 16px 0;
}
.doto-link-outer:has(+ .doto-link-outer) {
    padding-bottom: 0;
}
.doto-link-wrapper {
    border-radius: 8px;
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 150px;
    border: 1px solid var(--background-modifier-border);
}

.doto-link-image-wrapper {
    display: flex;
    width: 240px;
    justify-content: center;
}
.doto-link-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doto-link-info {
    flex: 1;
    padding: 16px;
    overflow: hidden;
}
.doto-link-title {
    font-size: 20px;
    color: var(--text-normal);
    margin: 0 0 4px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.doto-link-desc {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-muted);
    margin: 0 0 4px 0;
}
.doto-link-url {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-faint);
    margin: 0 0 4px 0;
}
